<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>x
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th {
        cursor: pointer;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch= true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<body>

<table id="myTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)">ID</th>
        <th onclick="sortTable(1)">Title</th>
        <th onclick="sortTable(2)">Author</th>
        <th onclick="sortTable(3)">Category</th>
        <th onclick="sortTable(4)">Price</th>
        <th onclick="sortTable(5)">Quantity</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="book : ${books}">
        <td th:text="${book.id}">Text ...</td>
        <td th:text="${book.title}">Text ...</td>
        <td th:text="${book.author}">Text ...</td>
        <td th:text="${book.category}">Text...</td>
        <td th:text="${book.price}">Text..</td>
        <td th:text="${book.quantity}">Text..</td>
        <td th:text="${book.image}">Text..</td>
        <td><a th:href="@{'/admin/EditBook/{id}'(id=${book.id})}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Edit">Edit</button>
    </tr>
    </tbody>
</table>

</body>
</html>