<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Title </title>
</head>
<body>
<form th:action="${'/order/save'}" modelAttribute="order">
    <div class="form-group">
        <label>Email: </label>
        <input path="email" cssClass="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success"/>
    </div>
</form>
</body>

</body>
</html>